<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Not home</title>
  </head>
  
  <body>
    <h1>This is a very difficult question. Prepare yourself.</h1>
    <ul>
      <li>What is 9 + 10?</li>
      <ul>
        <li>19</li>
        <li>21</li>
        <li>Segmentation fault (core dumped)</li>
        <li>None of these answers</li>
        <li>I give up, this is too hard!</li>
      </ul>
    </ul>
    <a href="/proxy/8099/test">Show Answers</a>
  </body>
</html>
